@use "/src/styles/breakpoints" as *;

.blob {
    position: absolute;
    top: 650px;
    right: -180px;
    width: 400%;
    z-index: -1;
    rotate: -20deg;

    @include desktop() {
        top: 220px;
        right: -180px;
        width: 150%;
      }
    
      @include large-desktop() {
        top: 250px;
        right: -130px;
      }
}

    