@use "breakpoints" as *;
@use "mixins" as *;

button {
   @include button-styles;
  }


  .paginationButton {
    @include button-styles;
  
    &:disabled {
      opacity: 0.5; 
      cursor: not-allowed;
      background-color: #333; 
      box-shadow: none;
    }
  }

  .submitButton {
    margin-top: 1rem;
    align-self: flex-end;
  }




  