.projectCard {
    position: relative;
    display: flex;
    gap: 2rem;
    background-color: #1c1c1c;
    border-radius: 2rem;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 350px;
    cursor: pointer;

    &:hover {
        background-color: #212121; 
    }

 .bi-box-arrow-up-right {
    font-size: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
   }
  
    .projectImageContainer {
        width: 50%;
        height: 70%;
        border-radius: 1rem;
       
        .projectImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .descriptionContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-height: 70%;
        width: 50%;

        .projectLink {
            position: absolute;
            bottom: 0;
            right: 1rem;
        }
    }
    .stackContainer {
        position: absolute;
        display: flex;
        gap: 1em;
        padding: 0 1em;
        background-color: whitesmoke;
        height: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
       }
      
}



.skillsCard {
    width: 50%;
    background-color: #1c1c1c;
    border-radius: 2rem;
    padding: 2rem;
    
    .stackLabel {
        text-align: center;
        margin-bottom: 2rem;
    }

    .stackIconsWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}


.formCard {
    width: 30%;
    background-color: #1c1c1c;
    border-radius: 2rem;
    padding: 2rem

}