@use "/src/styles/breakpoints" as *;

.ci {
   align-self: center;
}
 
.bi-send, .bi-download, .bi-house-door-fill, .bi-laptop-fill, .bi-envelope-fill, .bi-file-person-fill {
   margin-right: 10px;
}


.socialEnvelope {
   margin-right: 0;
}


.bi-list, .bi-x {
   font-size: 2rem;
   color: white;
 }







    
