@use "/src/styles/breakpoints" as *;


.bi-send, .bi-download, .bi-house-door-fill, .bi-laptop-fill, .bi-envelope-fill, .bi-file-person-fill, .bi-x-circle {
   margin-right: 10px;
}

.bi-github, .bi-linkedin {
   font-size: 1.8rem;
}


.bi-list, .bi-x {
   font-size: 2rem;
}


.socialEnvelope {
   margin-right: 0;
}

.stackIcon {
  width : 2rem; 
  font-size: 2rem; // only for i element stack icons

  @include desktop {
    width: 3rem;
    font-size: 3rem; // only for i element stack icons
  }

}


.projectStackIcons {
   width: 1.5rem;
}







    
