@use "breakpoints" as *;

.workEntriesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  @include desktop() {
    gap: 2rem;
  }
}

.workEntry {
  position: relative;
  background-color: #222426;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-top: 5px solid #e52e71;
    border-left: 5px solid #e52e71;
    border-radius: 1rem 0 0 0;
  }

  @include desktop() {
    flex-direction: row;
    padding: 1.5rem;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .workEntryImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100%;

    @include desktop() {
      width: 45%;
      grid-template-columns: repeat(2, 1fr);
    }

    &:has(img:only-child) {
      @include desktop() {
        display: flex;

        img {
          height: 100%;
        }
      }
    }

    img {
      width: 100%;
      height: 140px;
      object-fit: cover;

      @include desktop() {
        height: 200px;
      }
      border-radius: 0.5rem;
    }
  }

  .workEntryImagePlaceholder {
    display: none;

    @include desktop() {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;
      min-height: 300px;
      background-color: #2c2f31;
      border-radius: 0.5rem;
      font-size: 3rem;
      color: #555;
    }
  }

  .workEntryContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include desktop() {
      flex: 1;
      max-width: 80ch;
    }
  }

  .workEntryTitle {
    font-size: 20px;
    color: #ff8a00;
    text-transform: none;

    @include desktop() {
      font-size: 24px;
    }
  }

  .workEntryDate {
    font-size: 13px;
    color: #c5c5c5;
  }

  .workEntryDescription {
    color: #f5f5f5;
    line-height: 1.8;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}
