@use "/src/styles/breakpoints" as *;

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;  
  justify-content: center; 
  z-index: 1000;
}

.projectModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #222426;
  border-radius: 2rem;
  padding: 2rem;
  width: 90%;
  max-width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.6), 0 24px 48px rgba(0, 0, 0, 0.4);
  z-index: 1001;

  .projectImage {
    width: 100%;
  }
  
  .syntaxContainer {
    min-width: 100%;
}
}