@use "/src/styles/breakpoints" as *;

nav {
  background-color: #222222e6;
  backdrop-filter: blur(6px);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 80px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(255, 255, 255, 0.08);
  justify-content: space-between;
  
  @include desktop() {
    border-radius: 50px;
    padding: 0rem 3rem;
  }


  @include large-desktop() {
    border-radius: 50px;
    width: 1440px;
    margin: 0 auto; 
    left: 0;
    right: 0;
 
  }



    .hamburgerMenu {
      display: block;
      cursor: pointer;
    }
  
    .mobileMenu {
      position: absolute;
      top: 80px;
      right: -200px;
      background-color: #222222e6;
      width: 100%;
      padding: 1rem;
      border-radius: 5px;
      z-index: 999;
      transition: right 0.4s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
      opacity: 0;
      visibility: hidden; 
  
      &.visible {
        right: 0;
        opacity: 1;
        visibility: visible;
      }
  
      ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
        border-image: linear-gradient(to right, #ff8a00, #e52e71) 1;
      }
    }
  
    .desktopMenu {
      display: none;
    }
  
    @include desktop() {
      .hamburgerMenu {
        display: none;
      }
  
      .mobileMenu {
        display: none; 
      }
  
      .desktopMenu {
        display: flex;
        position: unset;
        flex-direction: row;
        background: none;
        width: unset;
        padding: 0;
  
        ul {
          display: flex;
          justify-content: space-between;
          width: unset;
          gap: 2rem;
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }