@use "/src/styles/breakpoints" as *;


.languageSelector.mobile {
    position: absolute;
    right: 50px;
    .hiddenSelect {
        position: absolute;
        opacity: 0; 
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        
        cursor: pointer;
      }

    @include desktop() {
        display: none;
    }
}


.languageSelector.desktop {
    position: absolute;
    right: 450px;
    align-self: center;
  }
  
  .bi-globe {
    font-size: 20px;
  }

  .selectedLang {
    margin-left: 8px;
  }
  

  .hiddenSelect {
    position: absolute;
    opacity: 0; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: pointer;
  }



  