@use "breakpoints" as *;

.skillSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    @include desktop() {
     flex-direction: row;
    }
   }
  

.langSkillsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .languageItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f4f4f4;
      border-radius: 5px;

      @include desktop() {
        padding: 1rem;
        width: 80%;
    }
      
      .skillName {
        font-size: 18px;
        color: #333;
        margin-right: 15px;
    }
    .languageBar {
        width: 100%;
        height: 10px;
        background: linear-gradient(90deg, #00b894, #1dd1a1); 
        border-radius: 5px;
    }
    
    .percentage {
        font-size: 14px;
        color: #333;
        margin-left: 10px;
    }
}
}
  
