@use "breakpoints" as *;

.skillSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    @include desktop() {
        height: 100%;
    }


    @include desktop() {
        gap: 5rem;
    }
    
    .skillsContainer {
        height: 50%;
        @include desktop() {
            display: flex;
            justify-content: space-evenly;
        }

        @include large-desktop() {
            justify-content: space-between;
            align-items: center;
          }
          
        
      .languageContainer {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          height: 100%;

          @include large-desktop() {
            justify-content: center;
            gap: 2.5rem;
          }
      
          .languageItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f4f4f4;
            border-radius: 5px;
      
            @include desktop() {
              padding: 1rem;
          }


        @include large-desktop() {
            width: 100%;
          }
            
            .skillName {
              font-size: 18px;
              color: #333;
              margin-right: 15px;
          }
          .languageBar {
              width: 100%;
              height: 10px;
              background: linear-gradient(90deg, #00b894, #1dd1a1); 
              border-radius: 5px;
          }
          
          .percentage {
              font-size: 14px;
              color: #333;
              margin-left: 10px;
          }
        }
    }
    .skillDescription {
        display: none;
        
        @include desktop() {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: calc(50% - 3rem);
        }
        
        .bi-translate, .bi-code-slash {
            display: none;
        
        @include desktop() {
            display: inline-block;
            font-size: 20px;
            margin-right: 0.5rem;
        }
    }

        .stackLabel {
            display: none;
            
            @include desktop() {
              display: inline-block;
              margin-bottom: 2rem;
        }
    }


        @include large-desktop() {
            width: 50%;
          }   
    }
}
}

.aboutWrapper {

    @include desktop() {
        display: flex;  
        gap: 2.5rem;     
    }

    .tagline {
     margin-bottom: 1.5rem;
     color: #ff8a00;
    }
   
    .aboutImageContainer {
        width: 100%;
        height: 300px;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);


        @include desktop() {
            width: 500px;
            height:auto;
            margin-bottom: 0;
        }

        .aboutImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .aboutDescription {
    

        @include desktop() {
            width: 60%;    
        }
    }

    .aboutParagraph {
        margin-bottom: 2rem;
    }

}
  
