@use "/src/styles/breakpoints" as *;
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  background-color: rgb(22, 22, 22);
  font-weight: 400;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-family: "Atkinson Hyperlegible Mono", serif;
  color: whitesmoke;
}

a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color: #ff8a00;
}


.matched {
  padding-bottom: 0.2rem;
  border-bottom: solid 2px #ff8a00;
  color: #ff8a00;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
  text-transform: uppercase;
}


.logoContainer {
  height: 80px;
  width: 250px;
  
  @include desktop() {
    height: 80px;
    width: 350px;
  }

  .logo {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 5;

  @include desktop() {
    top: 1rem;
    padding: 0rem 6rem 0rem 6rem; 
  }
}


.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

main {
  flex: 1;
  margin-top: 116px;

.headingContainer {
  width: 100%;
  .projectsHeading, .homeHeading, .contactHeading {
    border-bottom: solid white 1px;
    
    @include desktop() {
      width: 20%;
      margin: 0;
    }
  }
}

  .aboutHeadingMobile {
    display: block;
    border-bottom: solid white 1px;

    @include desktop() {
      display: none;
    }
  }

  .aboutHeadingDesktop {
    display: none;

    @include desktop() {
      display: block;
      margin-bottom: 1.5rem;
    }
  }
}

.content {
  display: flex;
  width: 100%; 
  min-height: calc(100vh - 116px);
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  position: relative;
  
  @include desktop() {
    min-height: calc(100vh - 116px);
    justify-content: start;
    gap: 2rem;
    padding: 2rem 6rem 2rem 6rem;   
  }

  @include large-desktop() {
    gap: 8rem;
    width: 1440px;
    padding: 6rem 0rem 6rem 0rem;   
    margin: 0 auto;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  height: 300px;
  background-color: rgba(34, 34, 34, 0.9);
  font-size: 14px;
  
  @include desktop() {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 6rem 2rem 6rem;  
  }

  @include large-desktop() {
    margin: 0 auto; 
    width: 1440px;
    padding: 6rem 0rem 6rem 0rem;   
  }
  

  .socialLinkSection {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    
    .socialLinklist {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
      list-style: none;


      @include desktop() {
        gap: 3rem; 
        }
      
          .bi-linkedin, .bi-github {
            font-size: 20px;
            margin-right: 8px;
      
            &:hover {
              color: #ff8a00;
            }
          }
        }
      }
    }

 .projectsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;

  @include desktop() {
      grid-template-columns: repeat(2, 1fr);
    }
 }



