@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');



:root {
  font-family: "Atkinson Hyperlegible Mono", serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(22, 22, 22);
  color: white;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Atkinson Hyperlegible Mono", serif;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #f29b53;
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100vh;
}


.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100vh;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  height: 100px;
}


.heroSection {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #1c1c1c;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 50%;
  
  .avatarImageContainer {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
    .avatarImage {    
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
    }
  }
  .introductionText {
    width: 50%;
  }
}


